@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-ic {
    @apply flex items-center;
  }

  .put-center {
    /* put element to center using trnslate and top, left */
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transform;
  }
}

html {
  font-size: 62.5%;
  position: relative;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
